.containerOffer {
	background-color: #ebedee;
	padding-top: 30px;
	padding-right: 90px;
	padding-left: 90px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
}
.containerOffer img {
	width: 500px;
}
.detailOffer {
	width: 500px;
	background-color: white;
	padding: 30px;
}

.price {
	font-size: 20px;
	margin-bottom: 10px;
}

.detailDescription {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.detailDescription p {
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
}

.descriptionAvatar {
	margin-top: 40px;
}
.descriptionAvatar .name {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}

.descriptionAvatar .description {
	color: gray;
	font-size: 17px;
	margin-bottom: 20px;
	line-height: 20px;
}

.avatar {
	display: flex;
	gap: 10px;
}
.avatar img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.avatar .username {
	display: flex;
	align-items: center;
}

.descriptionAvatar button {
	margin-top: 70px;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	color: white;
	background-color: #00b5bd;
	border: 0;
	border-radius: 5px;
}
.descriptionAvatar .butt {
	display: flex;
	justify-content: center;
}
