.header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

input {
	width: 500px;
	height: 30px;
}

.boutons {
	display: flex;
	gap: 40px;
	height: 30px;
}

.lastBouton button {
	height: 30px;
}

.imageCenter {
	width: 100%;
	position: relative;
}

.imageCenter img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.boxAnnonce {
	width: 300px;
	height: 200px;
	display: flex;
	top: 100px;
	left: 100px;
	background-color: white;
	flex-direction: column;
	position: absolute;
	padding: 20px;
	border-radius: 5px;
}
.images {
	position: relative;
}

.boxAnnonce h1 {
	font-size: 30px;
	margin-bottom: 30px;
}

.boxAnnonce button {
	width: 150px;
	height: 40px;
	background-color: #00b5bd;
	color: white;
	border: 0;
	border-radius: 5px;
	margin-bottom: 40px;
}

.boxAnnonce a {
	color: black;
}

.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.annonce {
	margin-top: 50px;
}

.annonce div {
	display: flex;
	margin-bottom: 20px;
	gap: 10px;
}

.annonce div img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.annonce div span {
	color: gray;
	display: flex;
	align-items: center;
}

.annonce img {
	width: 250px;
	height: 300px;
	display: flex;
}
.annonce h1 {
	width: 200px;
}

.containerOffer {
	background-color: #ebedee;
	padding-top: 30px;
	padding-right: 90px;
	padding-left: 90px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
}
.containerOffer img {
	width: 500px;
}
.detailOffer {
	width: 500px;
	background-color: white;
	padding: 30px;
}

.price {
	font-size: 20px;
	margin-bottom: 10px;
}

.detailDescription {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.detailDescription p {
	display: flex;
	justify-content: space-between;
	padding-right: 50px;
}

.descriptionAvatar {
	margin-top: 40px;
}
.descriptionAvatar .name {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
}

.descriptionAvatar .description {
	color: gray;
	font-size: 17px;
	margin-bottom: 20px;
	line-height: 20px;
}

.avatar {
	display: flex;
	gap: 10px;
}
.avatar img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.avatar .username {
	display: flex;
	align-items: center;
}

.descriptionAvatar button {
	margin-top: 70px;
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	color: white;
	background-color: #00b5bd;
	border: 0;
	border-radius: 5px;
}
.descriptionAvatar .butt {
	display: flex;
	justify-content: center;
}
